<section class="books-show">

<% if flash[:notice] %>
	<div class="flash">
		<p class="notice"><%= flash[:notice] %></p>
	</div>

<% end %>

<p><strong>Title:</strong><%= @book.title %></p>
<p><strong>Body:</strong><%= @book.body %></p>

<%= link_to "Edit" , edit_book_path(@book) %>

</section>